8. Write a program for K means clustering model based on countries Longitude and 
Latitude data set 2

In [1]:
import pandas as pd
from sklearn.cluster import KMeans

In [3]:
df = pd.read_excel('Countries_dataset2.xlsx')

In [5]:
X = df[['Longitude', 'Latitude']]

In [6]:
kmeans = KMeans(n_clusters=4)

In [7]:
kmeans.fit(X)

KMeans(n_clusters=4)

In [8]:
cluster_labels = kmeans.predict(X)

In [9]:
df['cluster_label'] = cluster_labels

In [10]:
print(df)

            name   Longitude   Latitude  cluster_label
0     Mauritania  -10.347798  20.257367              0
1     Montserrat  -62.185185  16.739414              1
2      Mauritius   57.571206 -20.277687              0
3         Malawi   34.289356 -13.218081              0
4       Malaysia  109.697623   3.789868              3
..           ...         ...        ...            ...
87         Samoa -172.164851 -13.753243              2
88         Yemen   47.586762  15.909280              0
89  South Africa   25.083901 -29.000341              0
90        Zambia   27.774759 -13.458242              0
91      Zimbabwe   29.851441 -19.004204              0

[92 rows x 4 columns]